h1,h2,h3,h4,h5,h6 {
  font-family: 'Megrim', cursive;

}

.main-nav-bar {
  font-family: 'Gafata', sans-serif;
  font-size: 1.68em;
  list-style-type: none;
  text-align: right;
}

.main-nav_list-items {
  display: inline;
  margin-left: 1em;
  margin-right: 1em;
}

.main-character-img {

}

.map-list_big {
  display: inline-block;
}

.map-list {
}

.map-list_items {
  list-style-type: none;
  display: inline;
}

#floater {
  float: right;
  background-color: pink;
}

.map-descriptions {
  display:inline;
  position: absolute;

}

.map-section {
    background-color: pink;
}

.story-section {
  /* no idea how to make bg image  */
}
