.main-nav-bar {
  font-family: 'Gafata', sans-serif;
  font-size: 1.68em;
  list-style-type: none;
  text-align: right;
}

.main-nav_list-items {
  display: inline;
  margin-left: 1em;
  margin-right: 1em;
}

.faq-section {
  font-family: 'Gafata', sans-serif;
  font-size: 1em;
}

.faq-questions_list {
  list-style-type: none;
}

li {
  border-bottom: 1px solid #d6d6d6;
}

.faq-questions {

}


h2  {
  font-family: 'Megrim', sans-serif;
}
