h1,h2,h3,h4,h5,h6 {
  font-family: 'Megrim', cursive;
}
body{
<<<<<<< HEAD
  margin-left: 200px;
  margin-right: 200px;
=======

>>>>>>> 070db6e3c1886c8ee7d358c0aafa282bf2b2ca17
}
.main-nav-bar {
  font-family: 'Gafata', sans-serif;
  font-size: 1.68em;
  list-style-type: none;
  text-align: right;
}

.main-nav_list-items {
  display: inline;
  margin-left: 1em;
  margin-right: 1em;
}

<<<<<<< HEAD
=======
.story-section{
  margin-left: 200px;
  margin-right: 200px;
}

>>>>>>> 070db6e3c1886c8ee7d358c0aafa282bf2b2ca17
.main-character-img {

}

.map-list_big {
  display: inline-block;
}

.map-list {
}

.map-list_items {
  list-style-type: none;
  display: inline;
<<<<<<< HEAD

=======
  justify-content: center;
  margin-left: 200px;
  margin-right: 200px;
>>>>>>> 070db6e3c1886c8ee7d358c0aafa282bf2b2ca17
}

#floater {
  float: right;
  background-color: pink;
  display: block;
  margin-top: 75px;
}

.map-descriptions {
  display: block;
<<<<<<< HEAD
  position: absolute;
  margin-right: 200px;
=======
  position: fixed;
  margin-right: 200px;
  margin-left: 200px;
>>>>>>> 070db6e3c1886c8ee7d358c0aafa282bf2b2ca17

}

.map-section {
    background-color: pink;
<<<<<<< HEAD
=======
    justify-content: center;
>>>>>>> 070db6e3c1886c8ee7d358c0aafa282bf2b2ca17
}

.story-section {
  /* no idea how to make bg image  */
<<<<<<< HEAD
=======
  float: left;
>>>>>>> 070db6e3c1886c8ee7d358c0aafa282bf2b2ca17
}
