h1,h2,h3,h4,h5,h6 {
  font-family: 'Megrim', cursive;
}
body{

}
.main-nav-bar {
  font-family: 'Gafata', sans-serif;
  font-size: 1.68em;
  list-style-type: none;
  text-align: right;
}

.main-nav_list-items {
  display: inline;
  margin-left: 1em;
  margin-right: 1em;
}

.story-section{
  margin-left: 200px;
  margin-right: 200px;
}

.main-character-img {

}

.map-list_big {
  display: inline-block;
}

.map-list {
}

.map-list_items {
  list-style-type: none;
  display: inline;
  justify-content: center;
  margin-left: 200px;
  margin-right: 200px;
}

#floater {
  float: right;
  background-color: pink;
  display: block;
  margin-top: 75px;
}

.map-descriptions {
  display: block;
  position: fixed;
  margin-right: 200px;
  margin-left: 200px;

}

.map-section {
    background-color: pink;
    justify-content: center;
}

.story-section {
  /* no idea how to make bg image  */
  float: left;
}
